
body{
   
    font-family: 'montserrat', sans-serif;
  
}
/*=========================================== Header ==================================================*/
header{
    background: #bbbbbb;
    padding: 20px 0;
}
.caixa{
    margin: 0 auto;
    position:relative;
    width: 940px;
}
nav{
    position: absolute;
    top:120px;
    right: 30px;
   
}
nav li{
    display: inline;
    margin-left: 10px;
 
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color:#c78c19;
    text-decoration: underline;
}


/*=========================================== Main ==================================================*/
.banner{
    width: 100%;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em 0;
    clear: left;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.principal{
    padding: 3em 0;
    background: #fefefe;
    margin: 0 auto;
    position:relative;
    width: 940px;
}
.principal p{
    
    margin: 0 0 1em 0 ;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}

.mapa{
    padding: 3em 0; 
    background: linear-gradient(#fefefe, #888888);
}
.mapa p{
    margin: 0 0 2em 0 ;
    text-align: center;
}
.mapa-conteudo{
    
    width: 940px;
    margin: 0 auto;
}

.beneficios{
    background: #888888;
    padding: 3em 0;
    
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}
.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens{
    line-height: 1.5;
}
.itens:first-child{
    font-weight: bold;
}
.imagem-beneficios{
    width: 60%;
}

.video{
    width: 560px;
    margin: 2em auto;
}


/*=========================================== Footer ==================================================*/

footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}